* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Poppins;
}

.modal {
  /* display: flex; */
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.modal__body {
  max-width: 1440px;
  max-height: 1024px;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: white;
}

.modal__header {
  display: flex;
  flex-direction: column;
  height: 173px;
  background-color: #f1ece6;
}

.modal__logo {
  height: 100px;
}

.modal__logo-img {
  width: 230.77px;
  height: 60px;
  margin-left: 605px;
  margin-top: 20px;
}

.modal__navigation {
  display: flex;
  height: 73px;
  background-color: #f3f3f3;
}

.modal__navigation-button {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  font-style: normal;
  padding-top: 20px;
}

.modal__add {
  display: flex;
  width: 1040px;
  height: 78px;
  margin-top: 40px;
  margin-left: 200px;
  border-radius: 50px;
  overflow: hidden;
}

.modal__add-input {
  font-weight: 400;
  font-size: 32px;
  color: #969696;
  padding-left: 35px;
  border: none;
  background-color: #f1ece6;
}

.modal__add-input:focus {
  outline: none;
}

.modal__add-button {
  display: flex;
  width: 140px;
  background-color: #76b7cd;
  color: #f3f3f3;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 38px;
}

.modal__todo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 1040px;
  height: 589px;
  border-radius: 50px;
  background-color: #f1ece6;
  margin-left: 200px;
  margin-top: 40px;
}

.modal__todo-item {
  display: flex;
  width: 946px;
  height: 88px;
  align-items: center;
}

.modal__todo-item-content {
  display: flex;
  font-weight: 400;
  font-size: 32px;
  align-items: center;
  padding-top: 10px;
  padding-left: 5px;
  position: relative;
}

.modal__todo-item-content::after {
  content: '';
  width: 868px;
  height: 1px;
  background-color: #76b7cd;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.modal__todo-check-img {
  width: 64px;
  height: 64px;
  margin-top: 12px;
}

.modal__todo-delete-img {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
}

.modal__todo-clear-img {
  width: 276px;
  height: 76px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 75px;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #d98326;
}

.unselected-color {
  color: #969696;
}

.checked-task {
  color: #c2c2c2;
  text-decoration: line-through;
}
